In [6]:
# more than one dimensions 
import pandas as pd
import numpy as np

In [3]:
a = np.array([[1, 2], [3, 4]]) 
print(a)

[[1 2]
 [3 4]]

In [4]:
# minimum dimensions 
a = np.array([1, 2, 3,4,5], ndmin = 2) 
print(a)

[[1 2 3 4 5]]

In [5]:
# dtype parameter 

a = np.array([1, 2, 3], dtype = complex) 
print(a)

[1.+0.j 2.+0.j 3.+0.j]

In [9]:
# pd.Series( data, index, dtype, copy)
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [12]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=None)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [26]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print(df)
print(df['one'].isnull())

        one       two     three
a  0.506133  1.120349  0.319463
b       NaN       NaN       NaN
c  1.725307 -0.045107 -1.892959
d       NaN       NaN       NaN
e  0.583006  1.609814  0.275444
f -1.203399  0.451599  1.360254
g       NaN       NaN       NaN
h  0.702641 -2.056867 -0.512404
a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [28]:
df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one','two', 'three'])
df = df.reindex(['a', 'b', 'c'])
print(df)
print ("NaN replaced with '0':")
print(df.fillna(99))

        one       two     three
a -0.861684 -0.231751 -0.598872
b       NaN       NaN       NaN
c  1.529399 -0.233374  1.555265
NaN replaced with '0':
         one        two      three
a  -0.861684  -0.231751  -0.598872
b  99.000000  99.000000  99.000000
c   1.529399  -0.233374   1.555265

In [32]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print(df)

print("\nuse padding")
print(df.fillna(method='pad'))

print("\ndrop na")
print(df.dropna())

        one       two     three
a  1.737596  0.981380  0.146685
b       NaN       NaN       NaN
c -1.571405 -1.836051  0.085974
d       NaN       NaN       NaN
e  1.546743 -1.247654  0.426075
f -0.452088 -0.485473  0.713535
g       NaN       NaN       NaN
h  0.011719  0.565407  0.557444

use padding
        one       two     three
a  1.737596  0.981380  0.146685
b  1.737596  0.981380  0.146685
c -1.571405 -1.836051  0.085974
d -1.571405 -1.836051  0.085974
e  1.546743 -1.247654  0.426075
f -0.452088 -0.485473  0.713535
g -0.452088 -0.485473  0.713535
h  0.011719  0.565407  0.557444

drop na
        one       two     three
a  1.737596  0.981380  0.146685
c -1.571405 -1.836051  0.085974
e  1.546743 -1.247654  0.426075
f -0.452088 -0.485473  0.713535
h  0.011719  0.565407  0.557444

In [34]:
df = pd.DataFrame({'one':[10,20,30,40,50,2000],'two':[1000,0,30,40,50,60]})

print(df)

print(df.replace({1000:10,2000:60}))

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60
   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60